@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
    color: #000;
    padding: 32px 0;
    max-width: 100%;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.main-header {
    border-bottom: 1px solid;
    padding-bottom: 41px;
}

.wrap {
    width: 947px;
    margin: 0 auto;
}

.main-navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation-item {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.main-navigation-link{
    color: #828282;
}

.active {
    color: #000;
}

.visually-hidden {
    display: none;
}

.section {
    margin-bottom: 104px;
}

.section-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    font-size: 47px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.caption {
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.section-about {
    text-align: center;
    background-color: #F6F6F6;
    min-height: 506px;
    display: flex;
}

.section-about-content {
    margin: auto;
}

.about-caption {
    font-size: 34px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.about-text {
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.section-skills {
    text-align: center;
}

.section-skills-caption {
    padding-bottom: 69px;
}

.skills-caption {
    font-size: 34px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.section-skills-text {
    padding-bottom: 93px;
}

.skills-text {
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.section-skills-tool-text {
    font-size: 14px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #828282;
}

.section-skills-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-skills-tool-stars {
    padding-top: 42px;
    padding-bottom: 111px;
}

.section-portfolio {
    text-align: center;
    background-color: #F6F6F6;
}

.portfolio-caption {
    font-size: 34px;
    font-family: 'Gilroy-Bold', sans-serif;
    padding-top: 113px;
}

.portfolio-link {
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
    text-decoration: underline;
}

.portfolio-image {
    padding-bottom: 45px;
    padding-top: 107px;
}

.portfolio-image-first {
    padding-top: 64px;
}

.portfolio-item-last {
    padding-bottom: 97px;
}

.section-contacts {
    text-align: center;
}

.contacts-caption {
    font-size: 34px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.contacts-text {
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-bottom: 38px;
}

.section-contacts-social-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 86px;
}

.section-contacts-social-item {
    padding-right: 10px;
}

.request {
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #828282;
    padding-top: 86px;
}

.btn {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    color: #fff;
    padding: 12px 50px;
}
